@import "tailwindcss";

@layer base {
  body {
    @apply font-poppins;
  }
}

@layer utilities {
  .container {
    width: 80%;
    margin: auto;
  }
}

@layer components {
  .btn-hover:hover div,
  .btn-hover:hover p {
    color: #40c4d9;
    transition: 0.3s;
  }

  .inputfield {
    @apply bg-white border-1 border-neutral-border px-2 py-2.5 outline-none rounded-md;
  }
}

/*
Primary: #111827 (Deep black/charcoal)

Secondary: #6B7280 (Gray for UI elements)

Accent: #E11D48 (Luxury red / call-to-action)

Background: #FFFFFF (Pure white for elegance)

 Text: #1F2937 (Dark gray) */
@theme {
  --font-poppins: "Inter", sans-serif;
  --font-main: "Oswald", sans-serif;

  --color-primary: #40c4d9; /* Light teal blue */
  --color-primary-dark: #00acc1; /* Darker accent for hover/focus */
  --color-primary-light: #f0f9fb; /* Soft background blue */

  /* --color-primary: #111827; */

  --color-secondary: #4caf50; /* Green (used in status icons, success states) */
  --color-secondary-dark: #388e3c;

  --color-neutral-text: #1e1e1e; /* Main text (almost black) */
  --color-neutral-secondary: #6b7280; /* Muted gray text */
  --color-neutral-border: #e5e7eb;
  --color-neutral-background: #f9fafb; /* Page background */
  --color-neutral-card: #ffffff; /* Card backgrounds */

  /* --color-neutral-background: #ffffff;
  --color-neutral-card: #6b7280; */

  --color-alert-danger: #e53935; /* Cancel button / errors */
  --color-alert-warning: #fb8c00; /* Warnings */
  --color-alert-info: #2196f3; /*Info labels  (green) */
}
